html {
    scroll-behavior: smooth;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

.scroll_container {
    overflow-y: scroll;
}

.flex_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#introDiv {
    margin: auto;
    font-size: large;
    padding-top: 50px;
    border-color: white;
    border-radius: 2px;
    width: 30%;
    aspect-ratio: 1/1;
    float: left;
    /* background: grey; */
}

input[type="text"] {
    color: white;
    font-size: 16px;
    width: 300px;
    background: transparent;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#textInput:focus {
    outline: none;
}

#graphicDiv {
    background-color: rgb(0, 0, 0, 30%);
    margin: auto;
    font-size: large;
    padding-top: 50px;
    border-color: white;
    border-radius: 2px;
    width: 30%;
    aspect-ratio: 1/1;
    float: left;
    color: white;
    /* background: grey; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#topPage2 {
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
}
#bottomPage {
    max-width: 500px;
    margin: auto;
    padding-top: 50px;
}

#navbar {
    background: transparent;
    z-index: 100;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
}

#page_background {
    display: flex;
}

ul {
    list-style-type: none;
    top: 0px;
    text-align: center;
}

li {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
}

body{
    background-image: linear-gradient(to right, #000000, #3a0000);
    background-origin: content-box;
}

p {
    color: white;
}

h1 {
    color: white;
    text-align: left;
}

h2 {
    color: white;
    text-align: left;
}

